<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="utf-8">
        <title>test</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="stt">
                <button id="micToggle" class="btn" data-badge="&nbsp;">암기 시작</button>
                <span id="finalStr" style="font-size:x-large"></span>
                <span id="interim" style="font-size:x-large"></span>
            </div>
            <div class="checkbox">
                <label><b>대본 ON/OFF</b></label>
                <input type="checkbox" id="check" checked>
            </div>
            <form id="input" method="post">
                <div id="main">
                    <div id="left">
                        {% csrf_token %}
                        <textarea id="inputStr" name='inputStr' class="text" cols="43" row="100" placeholder="대본을 입력해주세요.">{{text}}</textarea>
                        <input class="btn" type="submit" value="분석하기">
                    </div>
                    <div id="right">
                        <div id="resultStr" class="text" cols="43" row="100">
                            {% for i in script_string_array %}
                                <span id="script{{forloop.counter0}}" class="white-text">{{i}}</span>
                            {% endfor %}
                        </div>
                        <input class="btn" type="button" value="원본 보기" onclick="show_result()">
                        <a id="percent"></a>
                    </div>

                </div>
            </form>
        </div>
        <script>
            const LANG = 'ko-KR';

            const MIC_TOGGLE_DOM = document.getElementById('micToggle');

            const FINAL_STR_DOM = document.getElementById('finalStr');
            const INTERIM_DOM = document.getElementById('interim');

            var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
            var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;
            var SpeechRecognitionEvent = SpeechRecognitionEvent || webkitSpeechRecognitionEvent;

            var recognition = null;


            var is_mic_on = false;

            function initRecognition() {
                recognition = new SpeechRecognition();
                recognition.lang = LANG;
                recognition.continuous = true;
                recognition.interimResults = true;
                recognition.maxAlternatives = 1;


                recognition.onresult = function (event) {
                    var interim = '';
                    var final_str = '';
                    var confidence = 0;
                    var final_count = 0;

                    for (var i = event.resultIndex; i < event.results.length; i++) {
                        if (event.results[i].isFinal) {
                            final_str += event.results[i][0].transcript;
                            confidence += event.results[i][0].confidence;
                            final_count += 1;
                        } else {
                            interim += event.results[i][0].transcript;
                        }
                    }

                    updateCaption(final_str.trim(), interim.trim(), confidence);
                };


                MIC_TOGGLE_DOM.addEventListener('click', function () {
                    toggleMic();
                });
            }

            function toggleMic() {
                if (is_mic_on) {
                    is_mic_on = false;
                    MIC_TOGGLE_DOM.textContent = '암기 시작';
                    recognition.abort();
                } else {
                    is_mic_on = true;
                    MIC_TOGGLE_DOM.textContent = '암기 종료';
                    recognition.start();
                }
            }


            function updateCaption(final_str, interim, confidence) {

                if(FINAL_STR_DOM.textContent != final_str && final_str != '')
                {

                    $.ajax({
                        url: "{% url 'main' %}",
                        data: {'final_str': final_str,  csrfmiddlewaretoken: '{{ csrf_token }}'},
                        type: "POST",
                        dataType: "json",
                        success: function(response){
                        //응답이 들어온 경우
                            for(var i=0; i<response.trueSentenceIndex.length; i++){
                                //true문장은 초록색
                                document.getElementById('script'+response.trueSentenceIndex[i]).className='green-text';
                            }
                            for(var i=0; i<response.yellowSentenceIndex.length; i++){

                                document.getElementById('script'+response.yellowSentenceIndex[i]).className='yellow-text';
                            }
                            for(var i=0; i<response.falseSentenceIndex.length; i++){
                                //fasle문장은 빨간색
                                document.getElementById('script'+response.falseSentenceIndex[i]).className='red-text';
                            }
                        }
                    });
                }
                FINAL_STR_DOM.textContent = final_str;
                INTERIM_DOM.textContent = interim;

            }
            function show_result(){
                var white_sentences = document.querySelectorAll('.white-text');
                var green_sentences = document.querySelectorAll('.green-text');
                var yellow_sentences = document.querySelectorAll('.yellow-text');
                var all = white_sentences.length+green_sentences.length+yellow_sentences.length;
                var avg = (green_sentences.length+(yellow_sentences.length*0.5))/all*100;

                for(var i of white_sentences){
                    i.className='red-text';
                }
                document.querySelector('#percent').innerHTML = "정확도: "+avg+"%";
            }

            // checkbox 누를 때마다 대본 보이게 하고 안 보이게 하는 함수
            $(function(){
                $('#check').on('change', function(){
                    var isChk = this.checked;
                    if(isChk){
                        $('#inputStr').show();
                    }
                    else {
                        $('#inputStr').hide();
                    }
                })
            })

            initRecognition();
        </script>
    </body>
</html>
