body{
    padding:0px;
    margin:0px;
}
#wrapper{
    position: relative;
    margin: auto;
    width: 100%;
    height: 100vh;
}
#stt{
    margin: 0px;
    padding:10px;
}

#main{
    display: flex;
    height: 100%;
}

#left{
    margin: 10px;
    width: 50%;
    height: auto;
    display: block;
}

#right{
    margin: 10px;
    width: 50%;
    height: 70vh;
}

#inputStr{

}

.btn{
    font-family: "나눔스퀘어_ac ExtraBold";
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 10px;
}

.text{
    width: 95%;
    height: 100%;
    padding: 10px;
    font-family: "나눔스퀘어_ac ExtraBold";
    font-size: 30px;
    resize: none;
    border: 1px solid black;
}
.white-text{
    -webkit-user-select: none;
    color:white;
}
.red-text{
    color:red;
}
.yellow-text{
    color:#FFCC00;
}
.green-text{
    color:green;
}