#wrapper{
    position: relative;
    margin: auto;
    width: 1500px;
    height: 1200px;
}

#stt{
    margin: 10px;
}

#main{
    display: flex;
    height: 100%;
}

#left{
    margin: 10px;
    width: 50%;
    height: 100%;
    display: block;
}

#right{
    margin: 10px;
    width: 50%;
    height: 100%;
}

#inputStr{

}

.btn{
    font-family: "나눔스퀘어_ac ExtraBold";
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 10px;
}

.text{
    width: 95%;
    height: 1000px;
    padding: 10px;
    font-family: "나눔스퀘어_ac ExtraBold";
    font-size: 30px;
    resize: none;
    border: 1px solid black;
}